.result {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: 0px 4px 10px 0px rgb(0, 0, 0);
  overflow: hidden;

  .playersWin {
    display: flex;
    width: calc(100% - 227px);
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 2px;
    }

    &::-webkit-scrollbar-track {
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: gray;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: gray;
    }
  }

  .firstItem {
    position: relative;

    .text {
      width: 50%;
      position: absolute;
      top: 50%;
      left: 28px;
      transform: translateY(-50%);
      font-size: 22.222px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      color: #fff;
    }
  }

  .item {
    padding: 0 0 0 27px;
    min-width: 170px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid #d3d3d3;

    &:last-child {
      padding-right: 47px;
      border-right: none;
    }

    .title {
      margin-bottom: 2px;
      font-size: 16.667px;
      color: #404040;
      font-weight: bold;
      line-height: 1.2;
    }
    .description {
      margin-bottom: 4px;
      font-size: 14px;
      color: #838383;
      font-weight: bold;
      line-height: 1.2;
    }
    .reward {
      font-size: 16.667px;
      color: #e40247;
      font-weight: bold;
      line-height: 1.2;
    }

    .imgArrowRight {
      position: absolute;
      right: 19px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  .lastedItem {
    border-left: 1px solid #d3d3d3;
  }
  @include is-mobile {
    display: none;
  }
}
