.gameWrapper {
  margin: 59px 0 75px 0;
  width: 100%;
}

.seeMore {
  margin-bottom: 27px;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .text {
    cursor: pointer;
    font-size: 16.667px;
    color: #e40247;
    text-decoration: underline;
    line-height: 1.2;
  }
}

.game {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    flex-direction: column;

    a {
      text-decoration: none;
    }

    .title {
      padding: 9px 0 5px 0;
      font-size: 16.667px;
      color: rgb(64, 64, 64);
      font-weight: bold;
      line-height: 1.2;
    }

    .subText {
      padding: 5px 0 6px 0;
      font-size: 14px;
      color: rgb(131, 131, 131);
      font-weight: bold;
      line-height: 1.2;
    }

    .reward {
      font-size: 16.667px;
      color: #ea5979;
      font-weight: bold;
      line-height: 1.2;
    }
  }
}
