.header {
  padding: 6px 0 8px 0;
  display: flex;
  align-items: center;
  background-color: #310158;
  color: #ffffff;
  background-image: url("./header-bg-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  a {
    color: #ffffff;
    text-decoration: none;
  }

  .textBlock {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .btnBlock {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }

  .btn {
    padding: 12px 14px;
    border: 1px solid rgb(228, 2, 71);
    border-radius: 19.5px;
    background: none;
    height: 37px;
    font-size: 13.89px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0;
    text-align: center;
    color: #ffffff;
  }

  .btnLogin {
    color: #e40247;
  }

  .join {
    width: 145px;
    background-color: #e40247;
  }

  .hamburgerMenu {
    display: none;
  }

  @include is-mobile {
    padding: 33px 0;
    background-image: url("./header-bg-desktop-mobile.png");
    background-color: #310158;

    .wrapper {
      gap: 10px;
    }

    .textBlock {
      display: none;
    }

    .btnBlock {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }

    .btn {
      width: 100%;
      padding: 11px 19px;
      font-size: 10px;
    }

    .hamburgerMenu {
      display: flex;
    }
  }
}
