.nav {
  height: 32px;
  display: flex;
  align-items: center;
  background-color: #e40247;

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    &:hover {
      .line {
        visibility: visible;
      }
    }
  }

  a {
    font-size: 11.11px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    &:hover {
      color: #ffcf4c;
    }
  }

  .itemBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .line {
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 3px;
    background-color: #ffcf4c;
    visibility: hidden;
  }

  @include is-mobile {
    position: relative;
    background-color: #ffffff;
    .itemBlock {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 274px;
      background-color: #1e1e1e;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 999;

      .item {
        width: 100%;
        a {
          padding: 19px 0;
          font-size: 22.22px;
          &:hover {
            color: #9d1036;
          }
        }
      }
      .line {
        margin: 0 auto;
        position: initial;
        visibility: visible;
        width: 241px;
        height: 1px;
        background-color: #ffffff;
        opacity: 0.1;
      }
    }
  }
}
