.contentTicket {
  margin-top: 48px;
  align-items: center;
}
.ticket {
  margin-right: 33px;
}
.tittle {
  color: rgb(228, 2, 71);
  font-size: 22.22px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 12px;
}

.textContent {
  font-size: 16.667px;
  color: rgb(64, 64, 64);
  line-height: 1.2;
}
