.login {
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .error {
    color: red;
  }
  .btn {
    padding: 4px 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #000;
  }
}
