.checkGame {
  margin-top: 37px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .table {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 4px 10px 0px rgb(0, 0, 0);
  }

  .noData {
    display: flex;
    height: 346px;
  }

  .menu {
    button {
      border: none;
      background: initial;
      font-weight: bold;
      color: #e40247;
    }
    :global {
      .dropdown-item {
        font-weight: bold;
        color: #e40247;
      }
    }
    :global {
      .dropdown-menu {
        max-height: 300px;
        overflow-y: auto;
      }
    }
  }

  .borderInput {
    padding: 8px 14px;
    border: 1px solid rgb(228, 2, 71);
    border-radius: 30px;
    font-size: 13.89px;
    font-weight: bold;
    color: #e40247;
    &::placeholder {
      color: #e40247;
    }
  }

  .parent {
    background-color: #e3e3e3;
  }
  .children {
    padding-left: 25px;
  }

  .heightLineText {
    font-weight: bold;
    color: #e40247;
  }

  .control {
    width: 65%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  .specialPrize {
    font-size: 16.667px;
    color: rgb(64, 64, 64);
    font-weight: bold;
    line-height: 2.567;
  }

  .telegram {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .header {
    padding: 14px 17px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .item {
    padding: 16px 34px;
    display: flex;
    justify-content: space-between;
    &:last-child {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }

  .radioBlock {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    label {
      padding: 0;
      display: flex;
      align-items: center;
      background-color: initial;
      border: none;
      font-weight: 500;
      font-size: 16.67px;
      color: #404040;
      line-height: 0;
      cursor: pointer;
      &::before {
        margin-right: 6px;
        display: inline-block;
        content: "";
        border-radius: 50%;
        border: 1px solid;
        background-color: rgb(255, 255, 255);
        width: 17px;
        height: 17px;
      }
      &:hover {
        background-color: initial;
        border: initial;
        color: initial;
      }
    }
    input:checked + label {
      color: #e40247;
      background-color: initial;
      &::before {
        background-color: #e40247;
        border-color: #e40247;
      }
    }
  }

  .grayBackground {
    padding: 16px 34px;
    background-color: #e3e3e3;
  }

  .btn {
    font-size: 16px;
    background-color: rgb(228, 2, 71);
    border-radius: 17.5px;
    border: none;
    width: 134px;
    height: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }

  @include is-mobile {
    .table {
      width: 100%;
    }
    .telegram {
      display: none;
    }
    .header {
      width: 100%;
      padding: 14px 12px;
    }
    .borderInput {
      width: 110px;
    }
    .control {
      width: 100%;
    }
    .searchBtn {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .grayBackground,
    .item {
      padding: 19px 22px;
    }
  }
}
