.footer {
  padding: 70px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #e40247;
  color: #ffffff;

  h6 {
    margin-bottom: 19px;
    font-size: 22.222px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
  }

  p {
    font-size: 19.444px;
    line-height: 1.2;
    color: #ffffff;
    font-weight: 400;
  }

  &_copyright {
    font-size: 15.89px;
    line-height: 1.2;
  }

  .social {
    display: inline-flex;
    gap: 32px;
  }

  .circle {
    margin-right: 12px;
    display: inline-block;
    width: 9.63px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .middle {
    margin: 53px 0 36px 0;
  }

  .bottom {
    margin-top: 91px;

    .mt7 {
      margin-top: 7px;
    }
  }
  @include is-mobile {
    padding: 28px 0;
    .top {
      width: 100%;
      flex-direction: row !important;
    }
    .middle {
      display: none;
    }
  }
}
