.guid {
  margin: 99px 0 113px 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 16.667px;
      color: rgb(64, 64, 64);
      font-weight: bold;
      line-height: 1.2;
    }

    .subText {
      margin: 25px 0 1px 0;
      font-size: 14px;
      color: rgb(131, 131, 131);
      font-weight: bold;
      line-height: 1.2;
    }
  }
  @include is-mobile {
    margin: 50px 0;
    .item {
      width: 50%;
      margin-bottom: 40px;
      flex-direction: column;
      .subText,
      .title {
        color: #9d1036;
      }
    }
  }
}
.imgBlock {
  display: none;
  @include is-mobile {
    display: block;
    img {
      width: 100%;
    }
  }
}
