.home {
  :global {
    .carousel-indicators {
      margin-bottom: -29px;
      bottom: -9px;
      [data-bs-target] {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #eaeaea;
        box-shadow: inset 0px 1px 3px 0px rgba(167, 167, 167, 0.6);
      }
      .active {
        background-color: #e40247;
      }
    }
  }
  // @include is-mobile {
  //   :global {
  //     .carousel {
  //       height: 386px;
  //     }
  //   }
  // }
}
