.containerOnline {
  display: flex;
  gap: 59px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 67px;

  .itemOnline {
    width: 336px;
    height: 441px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px 0px #9f9f9f;
    padding: 14px 16px;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: #ffffff;
    .time {
      font-size: 16.667px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      line-height: 1.2;
      background-color: #000000;
      padding: 4px 10px;
      width: fit-content;
      margin-top: 66px;
    }
    .date {
      font-size: 16.667px;

      line-height: 1.2;
      margin: 8px 0 12px 0;
    }
    .bottomOline {
      width: 100%;
    }
    .btn {
      color: rgb(228, 2, 71);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 19.444px;

      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      height: 39px;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
    .money {
      font-size: 25px;

      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
    }
    .text {
      font-size: 16.667px;

      font-weight: bold;
      line-height: 1.167;
    }
  }

  @include is-mobile {
    gap: 12px;
    .text {
      display: none;
    }
    .money {
      display: none;
    }
    .date {
      display: none;
    }
    .itemOnline {
      padding: 14px;
      width: 181px;
      height: 223px;

      .btn {
        margin-top: 15px;
        font-size: 13px;
      }
    }
    .doneText {
      font-size: 22.22px;
      font-weight: bold;
    }
  }
}
